<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Azure.YAMP.yamp" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="YAMP.yamp" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="NextGen.yamp" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bass.Net" publicKeyToken="B7566C273E6EF480" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.6.0" newVersion="2.4.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="taglib-sharp" publicKeyToken="DB62EBA44689B5B0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.7" newVersion="2.0.3.7"/>
      </dependentAssembly>
      <probing privatePath="lib;libs" xmlns=""/>
    </assemblyBinding>
  </runtime>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <Azure.YAMP.yamp>
      <setting name="VisColorBottom" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="VisColorTop" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="VisColorHold" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="showPLEdit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sizeMainWindow" serializeAs="String">
        <value>300, 300</value>
      </setting>
      <setting name="locationMainWindow" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="lastPlayedList" serializeAs="String">
        <value>lastPlayed.yspl</value>
      </setting>
      <setting name="showTagForm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="locationTagForm" serializeAs="String">
        <value>300, 300</value>
      </setting>
      <setting name="sizeTagForm" serializeAs="String">
        <value>330, 335</value>
      </setting>
      <setting name="opacity" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="lastFolder" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="alwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="lastPlayedIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VisualSetting" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="VisTime" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="SeekBarColor" serializeAs="String">
        <value>103, 200, 255</value>
      </setting>
      <setting name="SeekBarStyle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseDigitFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VolumeLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastKnownOutDevice" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SeekBarBack" serializeAs="String">
        <value>80, 119, 134</value>
      </setting>
      <setting name="TimeDisplayMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="prevSizeMainWindow" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </Azure.YAMP.yamp>
  </userSettings>
</configuration>
